<strong>Olá {{ student }}</strong>
<p>Seja bem vindo a <strong>Gympoint!</strong></p>
<p>Abaixo estão os detalhes da sua matrícula:</p>
<p>
  <strong>Plano</strong>: {{plan}} <br />
  <strong>Término</strong>: {{date_end}} <br />
  <strong>Preço</strong>: R$ {{price}}/mês <br />
  <strong>Total</strong>: R$ {{total}},00 <br />
</p>
